[submodule "Raffle/lib/chainlink-brownie-contracts"]
	path = Raffle/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Raffle/lib/solmate"]
	path = Raffle/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "Raffle/lib/foundry-devops"]
	path = Raffle/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
